.pinbutton {
  width: 100px;
  height: 100px;
  marigian: 10px;
  text-align: center;
  font-size: 30px;
}

.pincode-body {
  text-align: center;
  backgroung: #efefef;
  width: 350px;
  height: 460px;
  position: fixed;
  color: #000000;
}
