.pinbutton {
  width: 100px;
  height: 100px;
  margin: 10px;
  text-align: center;
  font-size: 30px;
}

.pincode-body {
  text-align: center;
  background-color: red;
  width: 350px;
  height: 460px;
  position: absolute;
}

.center {
  text-align: center;
}

body {
  text-align: center;
}
